.main {
    height: calc(100vh - 164px);
    overflow: hidden;
    position: relative;
}

.preview-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    width: 100%;
    position: absolute;
}

.start-message {
    font-size: 12px;
    font-weight: 700;
    left: 0;
    top: 0;
}

.preview {
    right: 0;
    top: 0;
}

.preview-title {
    font-size: 12px;
    margin-bottom: 8px;;
}

.preview-image {
    height: 96px;
    width: 96px;
    border: 1px dotted #A0A4AB;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.preview-img-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden-input {
    display: none;
}

.access-options {
    width: 100%;
    /* height: calc(100% - 154px); */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    gap: 32px;
}

.camera-access,
.gallery-access {
    width: 80%;
    position: relative;
    cursor: pointer;
}

.gallery-access {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.icon-wrapper {
    height: 90px;
    width: 90px;
    margin-bottom: 8px;
    position: relative; /* Added to establish positioning context for absolute children */
}

.icon-wrapper svg {
    height: 100%;
    width: 100%;
    
}

.camera-pointer,
.gallery-pointer {
    display: none;
    position: absolute;
    width: 60px;
    height: 60px;
}

.camera-pointer {
    transform: translate(72px, -72px);
}

.gallery-pointer {
    transform: translate(-68px, 68px);
}

.camera-pointer svg,
.gallery-pointer svg {
    height: 100%;
    width: 100%;
}

.gallery-subtitle {
    text-align: right;
}

.camera-subtitle,
.gallery-subtitle {
    font-size: 12px;
}

.diamond-one,
.diamond-two,
.diamond-three {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px dotted #A0A4AB;
    pointer-events: none;
    z-index: -100;
    background: transparent
}

.diamond-one {
    height: 150px;
    width: 150px;
    animation: diamond-rotation 40s linear infinite;
}

.diamond-two {
    height: 180px;
    width: 180px;
    opacity: 0.8;
    animation: diamond-rotation 35s linear infinite;
}
.diamond-three {
    height: 210px;
    width: 210px;
    opacity: 0.6;
    animation: diamond-rotation 30s linear infinite;
}

@keyframes diamond-rotation {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(405deg);
    }
}



/*  Media Queries   */
@media (min-width: 390px) {
    .camera-access,
    .gallery-access {
        width: auto;
        align-items: center;
    }
    .access-options {
        justify-content: center;
        gap: 144px;
        padding-top: 112px;
    }
}

@media (min-width: 640px) {
    .icon-wrapper {
        height: 140px;
        width: 140px;
    }
    .diamond-one {
        height: 240px;
        width: 240px;
    }
    .diamond-two {
        height: 280px;
        width: 280px;
    }
    .diamond-three {
        height: 320px;
        width: 320px;
    }
    .camera-subtitle,
    .gallery-subtitle {
        font-size: 12px;
    }
    .access-options {
        padding-top: 32px;
        gap: 0;
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .preview-image {
        height: 128px;
        width: 128px;
    }
    .access-options {
        flex-direction: row;
        gap: 0;
    }
    .camera-access,
    .gallery-access {
        position: relative;
        width: 50%;
        height: 30%;
        display: flex;
        justify-content: center;
    }
    .gallery-access {
        flex-direction: row-reverse;
    }
    .icon-wrapper {
        display: flex;
        align-items: center;
    }
    .camera-pointer,
    .gallery-pointer {
        display: block;
    }
    .camera-subtitle,
    .gallery-subtitle {
        font-size: 14px;
    }
    .camera-subtitle {
        position: absolute;
        transform: translate(130%, -270%);
    }
    .gallery-subtitle {
        position: absolute;
        transform: translate(-130%, 270%);
    }
    .diamond-one,
    .diamond-two,
    .diamond-three {
            background-image: 
        radial-gradient(circle, #545659 1px, transparent 1px),
        radial-gradient(circle, #545659 1px, transparent 1px),
        radial-gradient(circle, #545659 1px, transparent 1px),
        radial-gradient(circle, #545659 1px, transparent 1px);
    background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    pointer-events: none;
    z-index: -100;
    border: none;
    }

}